.sitesContainer {
    max-height: 80vh;
    overflow: scroll;
}

.seperator {
    padding: 0.5em 0;
    font-size: 1.25em;
    font-weight: bold;
}

.tableHead tr {
    position: sticky;
    top: 0;
    background-color: white;
}

.tableHead tr td{
    padding: 1em;
}
